<div class="chat">
    <div class="chat2">
        <div class="mensajes">
        @for (m of mensajes(); track m.id) {
            <div class="mensaje" [ngClass]="{
                'propio': m.usuarios?.id == this.usuarioActual?.id,
                'ajeno': m.usuarios?.id != this.usuarioActual?.id
            }">
            <p class="datos">{{ m.usuarios?.nombre }} - {{ m.created_at | date:'dd-MM-yyyy HH:mm' }}</p>
            <p class="texto">{{ m.mensaje }}</p>
            </div>
        }
    </div>

    <div class="input">
      <input [(ngModel)]="mensaje" placeholder="Escribí un mensaje" (keyup.enter)="enviar()"/>
      <button (click)="enviar()">Enviar</button>
    </div>
  </div>
</div>