<div *ngFor="let juego of juegos">
  <h2>
  <img *ngIf="nombresJuegos[juego]?.icono" [src]="nombresJuegos[juego].icono" class="titulos">
  {{ nombresJuegos[juego]?.titulo }}
  </h2>
  <table *ngIf="resultados[juego] && resultados[juego].length > 0" class="tabla">
    <thead>
      <tr>
        <th class="ids">ID del Usuario</th>
        <th class="usuarios">Usuario</th>
        <th *ngFor="let col of columnas[juego]" [innerText]="col.nombre" class="resultados"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resultado of resultados[juego]">
        <td class="ids">{{ resultado.usuarios?.id }}</td>
        <td class="usuarios">
          {{ resultado.usuarios?.nombre }} ({{ resultado.usuarios?.email }})
        </td>
        <td *ngFor="let col of columnas[juego]" [ngStyle]="{'background-color': col.color}" class="resultados">
          {{ resultado[col.columna] ?? '-' }}
        </td>
      </tr>
    </tbody>
  </table><br>
  <p *ngIf="!resultados[juego]?.length">No hay resultados.</p>
</div>

