.tabla {
   border-collapse: collapse;
   max-width: calc(100% - 40px);
   margin: 0 auto; 
   width: 100%;
}

.tabla th,
.tabla td {
  border: 1px solid black;
  padding: 8px;
}

.titulos{
  height: 30px; 
  vertical-align: middle; 
  margin-left: 22px;
}

.ids{
  width: 10%;
  text-align: center;
}

.usuarios{
  width: 30%;
}

.resultados{
  width: 20%;
}