<div *ngFor="let juego of juegos">
  <h2>{{ juego }}</h2>
  <table *ngIf="resultados[juego] && resultados[juego].length > 0" class="bordered-table">
    <thead>
      <tr>
        <th>ID</th>
        <th *ngFor="let key of getColumnKeys(resultados[juego][0])" [innerText]="key"></th>
        <th>Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resultado of resultados[juego]">
        <td>{{ resultado.id }}</td>
        <td *ngFor="let key of getColumnKeys(resultado)">
          {{ resultado[key] }}
        </td>
        <td>
          {{ resultado.usuarios?.nombre }} ({{ resultado.usuarios?.email }})
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!resultados[juego]?.length">No hay resultados.</p>
</div>

