<div class="quiensoy">
  <div *ngIf="user" class="infoUsuario">
    <img [src]="user.avatar_url" width="300" alt="Avatar" />
    <h2>{{ user.name }}</h2>
    <h2>24 años</h2>
    <p><strong>Repositorios:</strong> {{ user.public_repos }}</p>
    <p><strong>Seguidores:</strong> {{ user.followers }}</p>
    <a [href]="user.html_url" target="_blank">Github</a>
  </div>
  
  <p *ngIf="error" style="color: red;">{{ error }}</p>
  <h3>Juego elegido: Blackjack</h3>
  <h3>
    El jugador se enfrenta a la banca, en busca de conseguir 21 puntos, o el número más cercano posible, sin pasarse.
      Para conseguirlos, cada jugador recibe dos cartas al inicio. Si las dos primeras cartas suman 21, es la mejor jugada posible, y recibe el nombre de Blackjack.
      Cuando los jugadores no llegan a 21, pueden pedir cartas extra para llegar, pero si se pasan de los 21 automáticamente pierden.
      Si tenés 16 o menos, estás obligado/a a pedir otra carta. Si tenés 17 o más te podés plantar, así terminando tu turno.
      La banca le gana a todos los jugadores que se pasen de 21, o a todos aquellos que tengan una mano de menor valor que la suya. 
      Si tiene 19 puntos, por ejemplo, le gana a todos los que tengan 18 o menos y 22 o más.
      Pierde con los jugadores que tengan una mano superior, y con todos los que se hayan plantado en el caso de que exceda los 21 puntos.
      El empate en blackjack se da entre la banca y los jugadores que tengan la misma cantidad de puntos.<br>
      El valor de las cartas es el siguiente:<br>
      <img src='asdeespadas.png' style="height:100px; width:auto;">
      El As tiene dos valores, 1 y 11. Este valor es elegido automáticamente, dependiendo de si la mano se pasa de 21 o no.<br>
      <img src='sotadediamantes.png' style="height:100px; width:auto;">
      <img src='reinadecorazones.png' style="height:100px; width:auto;">
      <img src='reydetreboles.png' style="height:100px; width:auto;">
      La Jota, la Reina y el Rey comparten el valor de 10 puntos.<br><br>
      Las cartas del 2 al 10 están valuadas de acuerdo a su numeración.
  </h3>
</div>
    