<nav class="navbar">
  <a href="">Inicio</a>
  <a href="juegos">Juegos</a>
  <a href="resultados">Resultados</a>
  <a href="chat">Sala de Chat</a>
  <a href="quiensoy">Quién Soy</a>
  <a href="login" *ngIf="!auth.getUsuarioActual() === null">Iniciar Sesión</a>
  <a href="registro" *ngIf="!auth.getUsuarioActual() === null">Crear Cuenta</a>

  <label *ngIf="mostrarNombre">Bienvenido/a, {{ nombreUsuario }}</label>
  <button *ngIf="mostrarNombre" (click)="cerrarSesion()">
    <img src="logout.png" alt="cerrar sesión" title="Cerrar Sesión"/>
  </button>
</nav>

<router-outlet />
