<div class="home">
    <div class="header">
        <img src="favicon.ico">
        <h1>¡Bienvenido/a a Sala de Juegos!</h1>
    </div>

    <div class="botones">
        <button (click)="this.router.navigateByUrl('login')" [disabled]="auth.getUsuarioActual() != null">
            <img src="login.png">
            INICIAR SESIÓN
        </button>
        <button (click)="this.router.navigateByUrl('registro')" [disabled]="auth.getUsuarioActual() != null">
            <img src="registro.png">
            CREAR CUENTA
        </button>
        <button (click)="this.router.navigateByUrl('juegos')">
            <img src="juegos.png">
            JUEGOS
        </button>
        <button (click)="this.router.navigateByUrl('resultados')">
            <img src="resultados.png">
            RESULTADOS
        </button>
        <button (click)="this.router.navigateByUrl('chat')">
            <img src="chat.png">
            SALA DE CHAT
        </button>
        <button (click)="this.router.navigateByUrl('quiensoy')">
            <img src="quiensoy.png">
            QUIÉN SOY
        </button>
    </div>
</div>

