<div class="mayormenor">

  <button class="mostrarValores" (click)="mostrarValores()">VALORES DE LAS CARTAS</button>

  <div class="juego">

      <div class="cartas">

        <img [src]="cartaUno" [alt]="cartaUno">

        <img *ngIf="!mostrarCartaDos" src="oculta.png" [alt]="cartaDos">
        <img *ngIf="mostrarCartaDos" [src]="cartaDos" [alt]="cartaDos" class="girar">

      </div>
  
      <div class="juego2">
        <h1 class="esMayorOMenor">¿LA SEGUNDA CARTA VA A SER MAYOR O MENOR?</h1>
  
        <div class="botones">
          <button (click)="jugar(false)">&lt;</button>
          <button (click)="jugar(true)">&gt;</button>
        </div>

        <div class="botones">
          <button (click)="generarCartas()">JUGAR DE NUEVO</button>
        </div>

      </div>
    </div>
  </div>